{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="search-container">
    <form action="{{url_for('search')}}" method="post">
    <label name="search" id="search"></label>
    {{form.search}}
    {{form.submit1(class="search-contaier button")}}
</form>
</div>
<div class="content">

    <h1>Task Manager</h1>
    {%if tasks %}
    <table >
        <tr>
            <th>Task</th>
            <th>Assigned To</th>
            <th>Assigned By</th>
            <th>Date Created</th>
            <th>Date to be Completed</th>
            <th>Review</th>
            <th>Actions</th>
        </tr>
        {% for  tasks in tasks%}
        <tr>
            <td> {{ tasks.content}}</td>
            <td>{{tasks.task_assigned_to}}</td>
            <td>{{tasks.task_assigned_by}}</td>
            <td>{{ tasks.date_created}}</td>
            <td>{{tasks.completed_by}}</td>
            <td>{{tasks.review}}</td>
            <td>
                <form action="/delete/{{tasks.id}}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this task?');">
                    <button type="submit" class="btn-delete">Delete</button>
                </form>
                <br><br>
                <form action="/update/{{tasks.id}}" method="GET" style="display: inline;">
                    <button type="submit" class="btn-update">Update</button>
                </form>
            </td>
            {% endfor %}
            {%else%}
            <h1>No results found</h1>
            {% endif %}
       
        </tr>
    </table>
    <form  action="{{ url_for('index') }}" method="POST" class="container">
    <div class="form-group">
        <label name="content" id="content">Content :</label>
        {{form.content(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="assigned_to" id="assigned_to">Assigned To :</label>
        {{form.task_assigned_to(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="assigned_by" id="assigned_by">Assigned By :</label>
        {{form.task_assigned_by(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="completion_time" id="completion_time">To Be Completed By:</label>
        {{form.completed_by(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="review" id="review" name="review">Review</label>
        {{form.review(class="form-container")}}
    </div>
    <div class="form-group">
        {{form.submit(class="form-container")}}
    </div>
    </form>
</div>
<a href="{{url_for('generator')}}">
    <p>generate pdf</p>
</a>
{% endblock %}


