{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<h1>Update</h1>
<form  action="{{ url_for('update',id=task.id)}}" method="POST" class="container">
    <div class="form-group">
        <label name="content" id="content">Content :</label>
        {{form.content(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="assigned_to" id="assigned_to">Assigned To :</label>
        {{form.task_assigned_to(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="assigned_by" id="assigned_by">Assigned By :</label>
        {{form.task_assigned_by(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="completion_time" id="completion_time">To Be Completed By:</label>
        {{form.completed_by(class="form-container")}}
    </div>
    <div class="form-group">
        <label name="review" id="review" name="review">Review</label>
        {{form.review(class="form-container")}}
    </div>
    <div class="form-group">
        {{form.submit(class="form-container")}}
    </div>
    </form>
</div>
{% endblock %}